<div class="billingSetupModal">
  <!--Delete Modal-->
  <div *ngIf="IsDelete">
    <div class="modal-header">
      <h4 class="modal-title">Delete Confirmation</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Are you sure you want to delete this item?
    </div>
    <div class="col-12">
      <button
        pButton
        class="yeats-btn yeats-btn-primary pull-right ml-3 mb-3"
        (click)="deleteFaciltyInsuranceProvider()"
      >
        Delete
      </button>
      <button
        pButton
        class="yeats-btn yeats-btn-secondary ui-button-secondary pull-right ml-3"
        (click)="modal.close('Close click')"
      >
        Cancel
      </button>
    </div>
  </div>


   <!-- Delete Modal
   <div *ngIf="IsDeleteNonProcedural">
    <div class="modal-header">
      <h4 class="modal-title">Delete Confirmation</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Are you sure you want to delete this item?
    </div>
    <div class="col-12">
      <button pButton class="yeats-btn yeats-btn-primary pull-right ml-3 mb-3" (click)="deleteNonProcedural()">
        Delete
      </button>
      <button pButton class="yeats-btn yeats-btn-secondary ui-button-secondary pull-right ml-3"
        (click)="modal.close('Close click')">
        Cancel
      </button>
    </div>
  </div> -->

  <!--Non Procedural Office Charge-->
  <div *ngIf="officeCharge">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Add/Edit Non Procedure Office Charge</h5>
      <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-4 col-sm-6 col-12">
          <div class="form-group yeats-form-group ">
            <label for="cptcode" class="formLabel yeats-form-label">Select Non Procedure Office Charge</label>
            <p-dropdown [options]="nonProcedureListClone" [(ngModel)]="selectedCategory" placeholder="Select Office Charge"
              optionLabel="Description" [showClear]="true" (onChange)="selectNonOfficeCharge(selectedCategory)">
            </p-dropdown>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-12">
          <div class="form-group yeats-form-group ">
            <label for="billingSetupDescription" class="formLabel yeats-form-label">Description <span
                class="required">*</span></label>
            <input type="text" [(ngModel)]="billingSetupDescription" class="form-control yeats-form-control"
              id="billingSetupDescription" name="billingSetupDescription" placeholder="Enter Description" />
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-12">
          <div class="form-group yeats-form-group ">
            <label for="billingSetupCode" class="formLabel yeats-form-label">Code <span
                class="required">*</span></label>
            <input type="text" [(ngModel)]="billingSetupCode" class="form-control yeats-form-control"
              id="billingSetupCode" name="billingSetupCode" placeholder="Enter Code" />
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-12">
          <div class="form-group yeats-form-group ">
            <label for="billingSetupAmount" class="formLabel yeats-form-label">Amount $ <span
                class="required">*</span></label>
            <input type="number" placeholder="1.00"  min="0"  step="0.01" formatInput="true"  [(ngModel)]="billingSetupAmount" class="form-control yeats-form-control"
              id="billingSetupAmount" name="billingSetupAmount" />
          </div>
        </div>
     
    
    <div class="col-12 officeChargeButtons">
      <button pButton class="yeats-btn yeats-btn-danger ui-button-danger pull-right ml-3"
        data-dismiss="modal">Cancel</button>
      <button pButton class="yeats-btn yeats-btn-secondary ui-button-secondary pull-right ml-3"(click)="clearNonProcedure()">Clear</button>
      <button pButton class="yeats-btn yeats-btn-primary pull-right ml-3" *ngIf="Save" (click)="saveNonProcedure('nonProcedure')">Save</button>
      <button pButton class="yeats-btn yeats-btn-primary pull-right ml-3" *ngIf="Update" (click)="updateNonProcedure()">Update</button>
    </div>
  </div>
    <div class="yeats-tables">
      <p-table [columns]="officeChargeColumns" [value]="nonProcedureList" >
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              {{rowData[col.field]}}
            </td>
            <td><img src="../../../../../assets/images/Edit.svg" alt="Edit" (click)="editNonProcedure(rowData)"></td>
            <td><img src="../../../../../assets/images/Delete.svg" alt="Delete" (click)="deleteNonProcedural(rowData)"></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  </div>
 

  <!--Deleyte CPT Code-->
  <div *ngIf="deleteCPT">
    <div class="modal-header">
      <h4 class="modal-title">Delete Confirmation</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Are you sure you want to delete this item?
    </div>
    <div class="col-12">
      <button
        pButton
        class="yeats-btn yeats-btn-primary pull-right ml-3 mb-3"
        (click)="deleteCpt()"
      >
        Delete
      </button>
      <button
        pButton
        class="yeats-btn yeats-btn-secondary ui-button-secondary pull-right ml-3"
        (click)="modal.close('Close click')"
      >
        Cancel
      </button>
    </div>
  </div>
</div>