.tableStyle{
    .ui-table table {
        border-collapse: collapse;
        width: 95%;
        table-layout: fixed;
        margin-left:25px;
    }
}

// .yeats-tables {
//         border-collapse: separate !important;
//         border: 1px solid #ccc !important;
//         border-radius: 0.125rem !important;
//         background-color: #fff !important;
//         color: #565656 !important;
//         max-width: 95% !important;
//         width: 100% !important;
//         margin-top: 1rem !important;
//         margin-bottom: 1rem !important;
// }
 .appointmentTable{
     max-width: 95% !important;
 }
