<div class="additional-cmt m-2">
  <div class="row">
    <div class="col-lg-5 col-5">
      <div class="form-group yeats-form-group">
          <div class="ui-inputgroup">
            <input pInputText type="text" [(ngModel)]="addcmt" class="form-control yeats-form-control" (input)="onFormDataChange()" />
          </div>
        </div>
    </div>
  </div>
  <div class="row">
   <div class="col-lg-12 col-12">
    <p-checkbox name="privateComment" inputId="opt1" value="Private Comment" [(ngModel)]="privateComment" label="Private Comment" (ngModelChange)="onFormDataChange()" >
      </p-checkbox>
   </div>

    <div class="col-lg-4 col-4">
        <div class="form-group yeats-form-group ">
            <label class="formLabel yeats-form-label">Previous Comments</label>
            <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="previousComments" (input)="onFormDataChange()" ></textarea>
        </div>
    </div>
  </div>
</div>