
.allocateModal{
    .modal-content{
        width:1000px;
        margin-left:-85px
    }
    .allocate-insurance{
        .yeats-tables{
           margin-top:0px !important;
     }
     .star {
        color: red;
      }
     }

  
}