<div class="HistoryofIllness">
    <div class="row">
        <div class="col-4">
          <div class="form-group yeats-form-group">
            <label for="" class="yeats-form-label">No Problem </label>
            <p-checkbox label="No Presenting Problems "> </p-checkbox>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group yeats-form-group">
            <label for="" class="yeats-form-label">No Problem </label>
            <textarea
              [rows]="3"
              [cols]="30"
              pInputTextarea
              autoResize="autoResize"
            ></textarea>
          </div>
        </div>
        <div class="col-4">
          <label for="" class="yeats-form-label">&nbsp;</label>
          <button pButton class="yeats-btn yeats-btn-primary">
            Spell Check
          </button>
        </div>
        <div class="col-3">
          <label for="" class="yeats-form-label">Location</label>
          <input
            type="text"
            pInputText
            class="form-control yeats-form-control"
          />
        </div>
        <div class="col-3">
          <label for="" class="yeats-form-label">Quality</label>
          <input
            type="text"
            pInputText
            class="form-control yeats-form-control"
          />
        </div>
        <div class="col-3">
          <label for="" class="yeats-form-label">Severity</label>
          <input
            type="text"
            pInputText
            class="form-control yeats-form-control"
          />
        </div>
        <div class="col-3">
          <label for="" class="yeats-form-label">Duration</label>
          <input
            type="text"
            pInputText
            class="form-control yeats-form-control"
          />
        </div>
        <div class="col-3">
          <label for="" class="yeats-form-label">Timing</label>
          <input
            type="text"
            pInputText
            class="form-control yeats-form-control"
          />
        </div>
        <div class="col-3">
          <label for="" class="yeats-form-label">Context</label>
          <input
            type="text"
            pInputText
            class="form-control yeats-form-control"
          />
        </div>
        <div class="col-3">
          <label for="" class="yeats-form-label">Modifying Factors</label>
          <input
            type="text"
            pInputText
            class="form-control yeats-form-control"
          />
        </div>
        <div class="col-3">
          <label for="" class="yeats-form-label">Symptoms</label>
          <input
            type="text"
            pInputText
            class="form-control yeats-form-control"
          />
        </div>
      </div>
</div>

