.categoryName{
    display: inline;
    margin-left: 45px;
    font-weight: bold;
    cursor: pointer;
    background: white;
    padding: 4px;
}
.reportsName{
    display: inline;
    margin-left: 45px;
}