<div class="billingSetupInsuranceProvider">
  <div class="row">
    <div class="col-lg-3 col-sm-6 col-12">
      <div class="form-group yeats-form-group ">
        <label for="billingSetupInsuranceProvider" class="formLabel yeats-form-label">Insurance Provider</label>
        <input type="text" [(ngModel)]="billingSetupInsuranceProvider" class="form-control yeats-form-control"
          id="billingSetupInsuranceProvider" name="billingSetupInsuranceProvider"
          placeholder="Enter Insurance Provider" />
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
      <div class="form-group yeats-form-group ">
        <label for="billingSetupCity" class="formLabel yeats-form-label">City</label>
        <input type="text" [(ngModel)]="billingSetupCity" class="form-control yeats-form-control" id="billingSetupCity"
          name="billingSetupCity" placeholder="Enter City" />
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
      <div class="form-group yeats-form-group ">
        <label for="billingSetupcontactPerson" class="formLabel yeats-form-label">Authorized Contact Person</label>
        <input type="text" [(ngModel)]="billingSetupcontactPerson" class="form-control yeats-form-control"
          id="billingSetupcontactPerson" name="billingSetupcontactPerson" placeholder="Enter Contact Person" />
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
      <div class="form-group yeats-form-group ">
        <label for="insuranceCode" class="formLabel yeats-form-label">Insurance Code</label>
        <input type="text" [(ngModel)]="billingSetupInsuranceCode" class="form-control yeats-form-control"
          id="billingSetupInsuranceCode" name="billingSetupInsuranceCode" placeholder="Enter Insurance Code" />
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
      <div class="form-group yeats-form-group ">
        <label for="billingSetupState" class="formLabel yeats-form-label">State</label>
        <p-dropdown [options]="stateList" [(ngModel)]="billingSetupState" placeholder="Select a State"
          optionLabel="label" [showClear]="true">
        </p-dropdown>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
      <div class="form-group yeats-form-group ">
        <label for="status" class="formLabel yeats-form-label">Status</label>
        <p-dropdown [options]="billingSetupStatus" [(ngModel)]="selectedStatus" placeholder="Select a Status"
          optionLabel="label" [showClear]="true">
        </p-dropdown>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
      <div class="form-group yeats-form-group ">
        <label for="billingSetuppayerId" class="formLabel yeats-form-label">Payer ID</label>
        <input type="text" [(ngModel)]="billingSetuppayerId" class="form-control yeats-form-control"
          id="billingSetuppayerId" name="billingSetuppayerId" placeholder="Enter Payer ID" />
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
      <div class="form-group yeats-form-group ">
        <label for="billingSetupPhone" class="formLabel yeats-form-label">Phone</label>
        <input type="text" [(ngModel)]="billingSetupPhone" class="form-control yeats-form-control"
          id="billingSetupPhone" name="billingSetupPhone" placeholder="Enter Phone" />
      </div>
    </div>
    <div class="insuranceProviderButtons">
      <div class="col-12">
        <button pButton class="yeats-btn yeats-btn-primary pull-right ml-3" (click)="feeSchedule()">Fee
          Schedule Type</button>
        <button pButton class="yeats-btn yeats-btn-primary pull-right ml-3" (click)="addInsuranceCompany()">Add
          Insurance Company</button>
        <button pButton class="yeats-btn yeats-btn-danger ui-button-danger pull-right ml-3" (click)="clearForm()">Clear</button>
        <button pButton class="yeats-btn yeats-btn-primary pull-right ml-3" (click)="searchInsuranceProvider()">Search</button>
      </div>
    </div>
    <div class="insuranceProviderButtons">
      <div class="col-12">
        <button pButton class="yeats-btn yeats-btn-primary pull-right ml-3" (click)="downloadSampleCSV()">Download Sample CSV File
         </button>
       <button pButton class="yeats-btn yeats-btn-primary pull-right ml-3"><label>Upload Default Fee Schedule 
          <input type="file" style="display:none" name="fileupload"  id="fileupload" accept=".csv" (change)="uploadDefaultFeesSchedule($event)"/></label>
        </button>
        <!-- <button pButton class="yeats-btn yeats-btn-primary pull-right ml-3" (click)="uploadDefaultFeesSchedule()">Upload Default Fee Schedule</button> -->
        <button pButton class="yeats-btn yeats-btn-primary pull-right ml-3" (click)="editDefaultFeeSchedule()">Edit
          Default Fee Schedule</button>
        <button pButton class="yeats-btn yeats-btn-primary pull-right ml-3" (click)="arTypeInsuranceCategory()">AR
          Type(Insurance Catg.)</button>
      </div>
    </div>
  </div>
  <div class="yeats-tables">
    <p-table [columns]="cols" [value]="insuranceProvidersData.Results">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
          <th>Edit</th>
          <th>Fees</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
          <td><img src="../../../../../assets/images/Edit.svg" alt="Edit" (click)="editInsuranceCompanies(rowData)"></td>
          <td><i class="pi pi-window-maximize" (click)="feesModal(rowData)"></i></td>
        </tr>
      </ng-template>
    </p-table>
    <p-paginator [rows]="insuranceProvidersData.PageSize" (onPageChange)="selectedPage($event)" [totalRecords]="insuranceProvidersData.TotalItems"></p-paginator>
  </div>

  <!-- Add Insurance Company -->
  <div class="modal fade" id="addInsurance" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:1100px">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add/Edit Insurance Provider</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-add-insurance-provider></app-add-insurance-provider>
        </div>
      </div>
    </div>
  </div>

  <!-- Fee Schedule Type -->
  <div class="modal fade" id="feeSchedule" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:700px">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Fee Schedule Type</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-fee-schedule-type></app-fee-schedule-type>
        </div>
      </div>
    </div>
  </div>

  <!-- AR type -->
  <div class="modal fade" id="arType" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:700px">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">AR Type (Insurance Category)</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-add-ar-type></app-add-ar-type>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Default Fee schedule -->
  <div class="modal fade" id="editDefault" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:700px">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">CPT RVU Conversion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-edit-default-fee></app-edit-default-fee>
        </div>
      </div>
    </div>
  </div>
</div>