.dynamic-form {
    .col-4 {
        max-width: none;
    }
    .col-3 {
        max-width: none;
    }
    .col-6 {
        max-width: none;
    }
    .col-12 {
        max-width: none;
    }
    .yeats-form-group {
        min-height: inherit;
        width: auto;
    }
}