<!-- <div class="modal">
  <div class="modal-dialog">
    <div class="modal-content"> -->

      <!-- Modal Header -->
      <div class="modal-header">
        <i class="fa fa-exclamation" style="color: red; position: absolute" aria-hidden="true"></i> <p style="margin-left: 10px">Connection lost</p>        
        <button type="button" class="close" (click)='modal.dismiss()'>&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
  Internet connection lost. Please check your connection.        
      </div>

      <!-- Modal footer -->
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div> -->

    <!-- </div>
  </div>
</div> -->