<div class="primeNgShippingDetails">
    <div class="primeNgTableShipping">
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <p-table [columns]="InvNewShippings" [(selection)]="selectedRows" [value]="InvOrderItemsTemp" (change)="objChanged($event)"
            dataKey="InvShippingDetailsId">
            <ng-template pTemplate="header" let-columns>
                <tr class="tableRowHead">
                    <th style="width: 3em"></th>
                    <th style="width: 3em">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
                <tr class="tableRowBody" [pSelectableRow]="rowData">
                    <td>
                        <a href="#" value=[rowData] (click)="onExpand(rowData)" [pRowToggler]="rowData">
                            <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                        </a>
                    </td>
                    <td>
                        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                    </td>
                    <td *ngFor="let col of columns">
                        {{col.field == 'DateCreated' || col.field == 'DateLastUpdated' ? parseDate(rowData[col.field])
                        :
                        rowData[col.field]
                        }}
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                <tr class="tableRowHead">
                    <td [attr.colspan]="columns.length + 2">
                        <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
                            <!-- <button type="button" class="btn btn-primary" (click)="updateShippingItem(this.ShippingitemData)">Update</button> -->
                            <!-- <p-table [value]="ShippingItems" dataKey="vin">
                                <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
                <tr class="tableRowBody">
                    <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                    </td>
                    <td>
                        <span><i class="fa fa-pencil-square-o" aria-hidden="true" (click)="editItem(rowData.InvItemMasterId)"></i></span>&nbsp;
                    </td>
                </tr>
            </ng-template>
        </p-table> -->
                            <button type="button" class="btn btn-primary" (click)="updateShippingItem(shippingItemsWithStatus)">Update</button>
                            <p-table [value]="shippingItemsWithStatus">
                                <ng-template pTemplate="header">
                <tr>
                    <th>Item Master Name</th>
                    <th>Status</th>
                    <th>Order Quantity</th>
                    <th>Order Part Number</th>
                    <th>Remaining Quantity</th>
                    <th>Shipping Quantity</th>
                    <th>Batch Number</th>
                    <th>Batch Code</th>
                    <th>Lot Number</th>
                    <th>Item Location</th>
                    <th>Manufactured Date</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr>
                    <td>{{rowData.InvItemMasterName}}</td>
                    <td>{{rowData.Name}}</td>
                    <td>{{rowData.OrderedQuanity}}</td>
                    <td>{{rowData.OrderPartNumber}}</td>
                    <td>{{rowData.RemainingQuantity}}</td>
                    <td>{{rowData.ShippingQuantity}}</td>
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="rowData.BatchNumber">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.BatchNumber}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="rowData.BatchCode">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.BatchCode}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="rowData.LotNumber">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.LotNumber}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <select class="form-control" id="exampleSelect" [(ngModel)]="locationItem" name="store" >
                            <option *ngFor="let location of itemLocation" value="{{location.ItemLocationId}}">{{location.Name}}</option>
                        </select>                    </td>
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="rowData.ManufacturedDate">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.ManufacturedDate}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    </td>
    </tr>
    </ng-template>
    </p-table>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modal-large-label">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header state modal-primary">
                <h4 class="modal-title">Search Order</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form class="row">
                <div class="form-group col-xl-4 col-sm-4 col-12">
                    <label for="storeId" class="formLabel">Please Select Store</label>
                    <select class="form-control" id="storeId" [(ngModel)]="searchOrder.InvStoreId" (ngModelChange)="StoreChangeChange($event)"
                        name="storeId">
                        <option *ngFor="let store of storeData" value="{{store.InvStoreId}}">{{store.StoreName}}</option>
                    </select>
                </div>
            </form>
            <!-- Modal body -->
            <div class="modal-body">
                <div *ngIf="loading" class="row">
                    <div class="col-12 text-center"><img src="../../../../assets/img/loader.gif" alt="loading"></div>
                </div>
                <div *ngIf="!loading" class="primeNgTableShipping">
                    <p *ngIf="searchResults.length == 0 && !loading" style="text-align:center">No Data</p>
                    <!-- <p-table *ngIf="searchResults.length > 0" #dt [columns]="searchCols" [value]="searchResults" -->
                    <button type="button" [value]="selectedRows" (click)="onAddToShip(selectedRows1)" class="addToShip btn btn-default">Add
                        To Ship</button>
                    <p-table *ngIf="searchResults.length > 0" #dt [columns]="searchCols" [value]="searchResults"
                        [(selection)]="selectedRows1" dataKey="InvOrderMasterId" [paginator]="true" [rows]="5">
                        <!-- (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"> -->
                        <ng-template pTemplate="header" let-columns>
                            <tr class="tableRowHead">
                                <th style="width: 3em">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr class="tableRowBody" [pSelectableRow]="rowData">
                                <td>
                                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                                </td>
                                <td *ngFor="let col of columns">
                                    <!-- {{rowData[col.field]}} -->
                                    {{col.field == 'DateCreated' ? parseDate(rowData[col.field]) :
                                    rowData[col.field]
                                    }}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>