<div class="patient-accounts">
  <div class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
      <div class="card-body">
        <p-tabView>
          <p-tabPanel header="Patient Account Summary">
            <app-patientaccount-summary></app-patientaccount-summary>
            
          </p-tabPanel>
          <p-tabPanel
            header="Patient Statements"
          >
            <app-patient-statement></app-patient-statement>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</div>
