.login-container {
  position: absolute;
	
  .card {
    .card-header {
      width: 80px;
      height: 80px;
      margin: 0 auto;
      margin-top: -40px;
      border-radius: 50%;
      font-size: 36px;
    }
	a:link{
		color: #ffffff !important;
	}
  }

  .btn {
    background-color: #F5F5F5 !important;
    color: #1F70BA !important;
  }
}
