.sktchPad {
  padding: 0px 12px;
  p-fileupload {
    .ui-button-icon-left {
      visibility: hidden;
    }

    .ui-fileupload-choose .ui-button-text {
      padding: .25em 1em .25em 2.1em;
    }
  }

  .cardStyle{
width:733px;
  }
}
