<div class="pharmaciesModule">
  <div class="yeats-tables">
    <p-table #PatientPharmacyTable [columns]="showPharmaciesDelete" [value]="showPharmaciesDeleteData"
      [paginator]="true" [rows]="3" emptymessage="No Pharmacy Selected" [responsive]="true">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
          <th>
            View
          </th>
          <th>
            Add
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
          <td>
            <!-- <button type="button" (click)="showDialog(rowData)" pButton icon="pi pi-check"></button> -->
            <i class="fa fa-binoculars" aria-hidden="true" (click)="showDialog(rowData)"></i>
          </td>
          <td>
            <i class="pi pi-minus" aria-hidden="true"
              (click)="deletedetails(rowData); PatientPharmacyTable.reset()"></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <!-- <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog> -->
  <p-dialog header="View Pharmacy" [(visible)]="display" [modal]="true" [responsive]="true"
    [style]="{width: '350px', minWidth: '200px'}" [minY]="70" [maximizable]="false" [baseZIndex]="10000">
    <table>
      <tr>
        <td>Pharmacy Name</td>
        <td>{{Dialogvalue.PharmacyStoreName}}</td>
      </tr>
      <tr>
        <td>Pharmacy Address</td>
        <td>{{Dialogvalue.PharmacyAddress1}}</td>
      </tr>
      <tr>
        <td></td>
        <td>{{Dialogvalue.PharmacyAddress2}}</td>
      </tr>
      <tr>
        <td>TelePhone No</td>
        <td>{{Dialogvalue.PharmacyTelephone1}}</td>
      </tr>
      <tr>
        <td>Fax</td>
        <td>{{Dialogvalue.PharmacyFax}}</td>
      </tr>
      <tr>
        <td>City</td>
        <td>{{Dialogvalue.PharmacyCity}}</td>
      </tr>
      <tr>
        <td>State</td>
        <td>{{Dialogvalue.PharmacyStateAbbr}}</td>
      </tr>
      <tr>
        <td>Zip</td>
        <td>{{Dialogvalue.PharmacyZip}}</td>
      </tr>
    </table>
    <p-footer class="yeats-btn yeats-btn-primary">
      <button pButton class="yeats-btn yeats-btn-primary pull-right ml-3" (click)="display=false">Yes</button>
      <!-- <button pButton class="yeats-btn yeats-btn-secondary ui-button-secondary pull-right ml-3" (click)="display=false">No</button> -->
    </p-footer>
  </p-dialog>
  <div class="row" style="padding-top:10px;padding-bottom:10px;">
    <div class="col-lg-3 col-sm-6 col-12">
      <div class="form-group yeats-form-group">
        <label for="pharmaciesZip" class="formLabel yeats-form-label">Zip Code</label>
        <input type="text" [(ngModel)]="pharmaciesZip" class="form-control yeats-form-control" id="pharmaciesZip"
          name="pharmaciesZip" placeholder="Enter Zip Code" />
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
      <div class="form-group yeats-form-group">
        <label for="pharmaciesPhone" class="formLabel yeats-form-label">Phone/Fax</label>
        <input type="text" [(ngModel)]="pharmaciesPhone" class="form-control yeats-form-control" id="pharmaciesPhone"
          name="pharmaciesPhone" placeholder="Enter Phone/Fax" />
      </div>
    </div>

    <div class="col-lg-3 col-sm-6 col-12">
      <div class="form-group yeats-form-group">
        <label for="pharmaciesStreet" class="formLabel yeats-form-label">Street</label>
        <input type="text" [(ngModel)]="pharmaciesStreet" class="form-control yeats-form-control" id="pharmaciesStreet"
          name="pharmaciesStreet" placeholder="Enter Street" />
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
      <div class="form-group yeats-form-group">
        <label for="pharmaciesCity" class="formLabel yeats-form-label">City</label>
        <input type="text" [(ngModel)]="pharmaciesCity" class="form-control yeats-form-control" id="pharmaciesCity"
          name="pharmaciesCity" placeholder="Enter City" />
      </div>
    </div>

    <div class="col-lg-3 col-sm-6 col-12">
      <div class="form-group yeats-form-group">
        <label for="pharmaciesStateCode" class="formLabel yeats-form-label">State Code</label>
        <input type="text" [(ngModel)]="pharmaciesStateCode" class="form-control yeats-form-control"
          id="pharmaciesStateCode" name="pharmaciesStateCode" placeholder="Enter State Code" />
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
      <div class="form-group yeats-form-group">
        <label for="pharmaciesPharmacy" class="formLabel yeats-form-label">Pharmacy</label>
        <input type="text" [(ngModel)]="pharmaciesName" class="form-control yeats-form-control" id="pharmaciesName"
          name="pharmaciesName" placeholder="Enter Pharmacy Name" />
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
      <div class="form-group yeats-form-group">
        <label class="formLabel yeats-form-label"> &nbsp;</label>
        <p-checkbox class="yeats-form-control" [(ngModel)]="wildCardSearch" label="Wildcard Search" binary="false">
        </p-checkbox>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button pButton class="yeats-btn yeats-btn-danger ui-button-danger pull-right ml-3">Clear</button>
      <button pButton class="yeats-btn yeats-btn-primary pull-right ml-3" (click)="FindPharmacy()">Find</button>
    </div>
  </div>
  <div class="yeats-tables">
    <p-table [columns]="showPharmaciesView" [value]="showPharmaciesViewData" [paginator]="true" [rows]="3"
      emptymessage="No Pharmacy Avaliable" [responsive]="true">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
          <th>
            View
          </th>
          <th>
            Add
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
          <td>
            <i class="fa fa-binoculars" aria-hidden="true" (click)="showDialog(rowData)"></i>
          </td>
          <td>
            <i class="fa fa-plus" aria-hidden="true" (click)="adddetails(rowData); PatientPharmacyTable.reset()"></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="row">
    <div class="col-6">
      <button pButton *ngIf="showprtandchrge" class="yeats-btn yeats-btn-primary mr-3" icon="fa fa-print" label="print" (click)="chargeSlips('PatientPrint')">Print</button>
      <button pButton *ngIf="showprtandchrge" class="yeats-btn yeats-btn-primary" icon="fa fa-file-text-o" (click)="chargeSlips('PatientChargeSlips')" label="Charge Slip">Charge
        Slip</button>
    </div>
    <div class="col-6">
      <div class="col-12">
        <button pButton class="yeats-btn yeats-btn-secondary ui-button-secondary pull-right ml-3"
          (click)="openNext()">Next</button>
        <button pButton class="yeats-btn yeats-btn-primary pull-right ml-3" (click)="onCompleteSave()">Save</button>
        <button pButton class="yeats-btn yeats-btn-secondary ui-button-secondary pull-right ml-3"
          (click)="onClose()">Close</button>
      </div>
    </div>
  </div>