
.patientManagement{
    // background-color: #fff;
    // padding:2rem;

//     .ng-star-inserted{
// margin: 0px !important;
//     }
padding: 0px 12px;
.label-mb{
    margin-bottom: 7px !important;
}
.userIcon{
    width:46px;
    height:46px;
    
    
}


.tableLabel{
    text-align: left !important;
}
}
