.addAppointment{
p-dropdown .ui-dropdown .ui-dropdown-label {
    height: 2rem;
    padding: 0px 2.5rem 0px 16px !important;
    line-height: 2rem;
    margin: 0 !important;
    font-size: 0.70rem;
    text-overflow: ellipsis;
}
.tabView{
    height: 28px !important;
    top: -16px !important;
}
// .modal-body{
//     height: 40em;
//     overflow-y: scroll;
// }
}

.modal { overflow: auto !important; }