.addARType{
 .CategorySelection{
     padding:1rem;
     margin:auto;
 }   
 .ui-listbox {
    padding: 0;
    min-width: 20rem;
    background: #ffffff;
    border: 1px solid #a6a6a6;
}
.artypeModal{
    height: 40em;
    overflow-y: scroll;
}
}