.searchmodal{
.post{
    .ui-picklist-buttons-cell  button:last-child{
        visibility: hidden;
     }
     .ui-picklist-buttons-cell button:nth-child(2){
        visibility: hidden;
     }
     .ui-picklist-buttons-cell button:first-child{
        margin-top: 3em;
     }
     .ui-picklist-buttons-cell button{
        background-color: transparent;
        border: none;
        color: #007AD8;
        .ui-button-icon-left{
        font-size: 3em;
        }
        }

        .ui-picklist-buttons-cell button:focus{
            background-color: transparent;
            border: none;
            color: #007AD8;
            .ui-button-icon-left{
            font-size: 3em;
            }
            }

            .ui-picklist-buttons-cell button:hover
    {
    color: white;
    background-color: #007AD8; 
    // font-size: 3em;
    .ui-button-icon-left{
        font-size: 3em;
        }
}
}
}


// .icdsearchmodal{
//     .ui-picklist-target-controls  {
//     display: none !important;
// }
// .ui-picklist-source-controls{
//    display: none !important;
// }
// .ui-button-icon-only .ui-button-text {
//     text-align: center !important;
//     padding: 15% !important;
// }
// .ui-picklist.ui-picklist-responsive .ui-picklist-buttons {
//     width: 6%;
// }
// p-radiobutton .ui-radiobutton .ui-radiobutton-box {
//     margin-left:10px;
// }
// p-radiobutton .ui-radiobutton-label {
//     margin-left:15px;
// }
// }
// .body{
//     .modal-content{
//         width:575px !important;
//     }
// }


.icdModal{
    .p-radioButton{
        margin-left: 1vw;
    }
    .yeats-form-group{
        min-height:0rem; 
        padding-bottom: inherit;
    }
    .buttonstyle{
        margin-top:1.2rem;
    }
    .card-header{
     background-color: white;
     padding-left:0px;
    }
    .modal-body{
        padding:5px;
    }
    .modal-content{
       width:598px !important;
    }
    // .ui-picklist.ui-picklist-responsive .ui-picklist-buttons {
    //   display:none;
    // }
    .ui-picklist-target-controls  {
        display: none !important;
    }
    .ui-picklist-source-controls{
       display: none !important;
    }
    .ui-button-icon-only .ui-button-text {
        text-align: center !important;
        padding: 15% !important;
    }
    .ui-picklist.ui-picklist-responsive .ui-picklist-buttons {
        width: 6%;
    }
    p-radiobutton .ui-radiobutton .ui-radiobutton-box {
        margin-left:10px;
    }
    p-radiobutton .ui-radiobutton-label {
        margin-left:15px;
    }
    .dateTimeField {
        width: 100px !important
    }
    .ui-calendar .ui-calendar-button{
        margin-top: -33px;
    }
    
    .yeats-btn{
        min-width:0px !important;
    }
}
