.consentsModule{
    // padding-top:7px;
    padding-bottom:7px;
    .mr-16{
        margin-right:1rem;
    }
    .rowMargin{
        margin:0 !important;
    }
    .fwb{
        font-weight: bold;
    }
}