<div class="billingSetup">
  <p-tabView>
    <p-tabPanel header="Codes and Fees">
      <app-billing-codesandfees></app-billing-codesandfees>
    </p-tabPanel>
    <p-tabPanel header="Practice">
      <app-billing-practice></app-billing-practice>
    </p-tabPanel>
    <p-tabPanel header="Physician">
      <app-billing-physician></app-billing-physician>
    </p-tabPanel>
    <p-tabPanel header="Insurance Companies">
      <app-billing-insurance-provider></app-billing-insurance-provider>
    </p-tabPanel>
  </p-tabView>
</div>