// @import "./../../app/theme/styles/mixins";
// @import "./../../app/theme/styles/bootstrap-override";
// @import './../../app/theme/styles/base';

/* 
========== COLORS ===========
*/

// $primary: #007ad9;
// $primary: $top-navbar-bg-color;
$secondary: #007ad9;
$bg-color: #ffffff;
$btn-danger: #E91210;


$btn-secondary: #dcdcdc;


/*
========== form variables =============
*/
$form-component-height: 2rem;
$form-font-size: 0.875rem;
$form-label-font-size: 0.75rem; //12px
$error-font-size: 0.6875rem;
$padding-large: 0.75rem; //12px

