.NewItemDispense{
    text-align: right
}
.btn-newItemDespense {
    background-color: #1F70BA;
    color: #C4C9E8;
    border: none;
    padding: 0.4rem 0.75rem;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 10px;
}