<p>
  registerpatient works!
</p>
<p-tabView>
    <p-tabPanel header="Patient Details">
       <app-register-details></app-register-details>
    </p-tabPanel>
    <p-tabPanel header="Insurance">
        <app-register-insurance></app-register-insurance>
    </p-tabPanel>
    <p-tabPanel header="Other Information">
        <app-register-others></app-register-others>
    </p-tabPanel>
    <p-tabPanel header="Consents">
        <app-register-consents></app-register-consents>
    </p-tabPanel>
    <p-tabPanel header="Files">
        <app-register-files></app-register-files>
    </p-tabPanel>
    <p-tabPanel header="Messages">
        <app-register-messages></app-register-messages>
    </p-tabPanel>
    <p-tabPanel header="Pharmacies">
        <app-register-pharmacies></app-register-pharmacies>
    </p-tabPanel>
</p-tabView>
